table tbody, table thead
{
    display: block;
}

table tbody 
{
   overflow: auto;
   height: 300px;
}

th
{
    width: 150px;
}

td
{
    width: 150px;
}

h1 {color: #000000}
h2 {color: #0579fc}
h3 {color: #2387fa}